
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    text-align: center;
    padding: 20px;
    background-image: url('/assets/sleep-token-header.jpg');
}

h1 {
    color: #fdfdfd;
}

video {
    width: 50%;
    display: block;
    margin: 0 auto;
    border: 5px solid #cccccc;
    border-radius: 5px;
}
